/* CSS reset  */
*{
    margin: 0;
    padding: 0;  
}
html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation bar */
#navbar{
    display: flex;
    align-items: center;
    top: 0px;
    position: sticky;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
/* Navigation Bar: logo and image */
#logo{
    margin: 5px 5px;
}
#logo img{
    height: 80px;
    width: 80px;
    padding: 10px 10px;
}

/* Navigation Bar: list styling */
#navbar ul{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
#navbar ul li{
    list-style: none;
    font-size: 1.4rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}
#navbar ul li a:active{
    color: brown;
    background-color: grey;
}
/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    height: 575px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background: url("../bg1.jpg") no-repeat center center/cover;
    position: absolute;
    height: 700px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
/* Services */
#services{
    margin-top: 34px;
    margin-bottom: 1px;
    display: flex;
    
}
#services-container{
    padding: 20px 0px;
    background-color: rgb(245, 239, 239);
}

#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 36px;
    border-radius: 23px;
    background-color: rgb(214, 199, 199);
    margin-bottom: 20px;
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Bree Serif', serif;
}

/* Clients section  */
#client-section{
    /* height: 344px; */
    position: relative;
    padding: 10px 0px;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url(../bg.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 34px;
}
#clients img{
    height: 137px;
}
/* Contact section  */
#contact{
    position: relative;
    margin-top: 10px;
}
#contact::before{
    content: "";
    background: url(../contact.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.7;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 60%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}
footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
}

/* Utility classes */
.headingprimary{
    font-size: 3.9rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white ;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}
